<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add To-Do List</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header><%- include('navbar') %></header>
		<main>
			<div class="todo">
				<div class="edit-tab">
					<input type="text" class="title" />
					<button>Add</button>
				</div>
				<input type="datetime-local" class="input-date-time" />
				<textarea name="text"> </textarea>
			</div>
		</main>
	</body>
</html>
