<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>To-Do List App</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<h1>To-Do List</h1>
			<%- include('navbar') %>
		</header>
		<main>
			<div class="center">
				<a class="button-hover-white" href="/view">View</a>
				<a class="button-hover-white" href="/add">Add</a>
				<a class="button-hover-white" href="/edit">Edit</a>
			</div>
		</main>
	</body>
</html>
