<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/view">View</a></li>
        <li><a href="/add">Add</a></li>
        <li><a href="/edit">Edit</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>