* {
	font-family: "Inter", sans-serif;
    margin: 0;
}

header {
	text-align: center;
    color: white;
    background-color: #0466BF;
}

header > h1 {
	font-weight: 700;
    font-size: 40px;
    height: 60px;
    line-height: 60px; 
    display: block;
}

nav {
    box-shadow: 0 1px 2px black, 0 1px 4px rgba(0, 0, 0, 0.46);
}

body {
    background-color: #C4E1FF;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #039FDA;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #52b1d3;
}

.center {
    margin: 50px auto;
}

.button-hover-white:hover {
    color: #fff;
	background-color: #4382be;
}

.button-hover-white {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #0466BF;
	display: block;
	text-align: center;
	margin: 20px auto;
	line-height: 60px;
	width: 50%;
	height: 60px;
	text-decoration: none;
    border: 3px solid #fff;
    border-radius: 10px;
}

.go-back {
    width: 80%;
    margin: 20px auto;
}

.todo, .login {
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 15px;
}

.todo > p {
    margin-top: 10px;
}

.date-time {
    margin-top: 10px;
    text-align: right;
    margin-right: 20px;
}

.input-date-time {
    margin-top: 10px;
    text-align: right;
    margin-right: 20px;
    float: right;
}

.edit-tab {
    padding: 0 20px;
    background-color: #039FDA;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-btn {
    font-weight: 700;
    color:#222;
    background-color: rgb(164, 241, 91);
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
}

.login-btn:hover {
    font-weight: 700;
    color:#222;
    background-color: rgb(195, 246, 147);
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
}

.edit-tab > .edit-title > h2, .edit-tab > h2 {
    color:#fff;
    display: inline-block;
    line-height: 50px;
    font-size: 30px;
}

.edit-tab > .edit-button > button, .edit-tab > .edit-button > a > button, .go-back-btn {
    font-weight: 700;
    background-color: white;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
}

.edit-tab > .edit-button > button:hover, .edit-tab > .edit-button > a > button:hover, .go-back-btn:hover {
    background-color: rgba(255, 255, 255, 0.779);
    height: 30px;
    border-radius: 5px;
    border: 0;
}

.edit-tab > .edit-button > .del-btn {
    background-color: rgb(211, 72, 72);
    color: white;
}

.edit-tab > .edit-button > .del-btn:hover {
    background-color: rgb(207, 107, 107);
    color: white;
}

textarea {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    resize: vertical;
    font-size: 14px;
    height: 100px;
    width: 99%;
}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    display: inline-block;
    line-height: 30px;
    font-size: 30px;
}

.todo-empty {
    font-weight: 700;
    color: #434343;
    margin-top: 20px;
    text-align: center;
}

.num-todo {
    font-weight: 700;
    color: #0466BF;
    margin-top: 20px;
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

.success {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgb(211, 72, 72);
}