* {
	font-family: "Inter", sans-serif;
    margin: 0;
}

header {
	text-align: center;
    color: white;
    background-color: #0466BF;
}

header > h1 {
	font-weight: 700;
    font-size: 40px;
    height: 60px;
    line-height: 60px; 
    display: block;
}

nav {
    box-shadow: 0 1px 2px black, 0 1px 4px rgba(0, 0, 0, 0.46);
}

body {
    background-color: #C4E1FF;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #039FDA;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #52b1d3;
}

.center {
    margin: 50px auto;
}

.button-hover-white:hover {
    color: #fff;
	background-color: #4382be;
}

.button-hover-white {
    font-size: 30px;
    color: #fff;
    background-color: #0466BF;
	display: block;
	text-align: center;
	margin: 20px auto;
	line-height: 60px;
	width: 50%;
	height: 60px;
	text-decoration: none;
    border: 3px solid #fff;
    border-radius: 10px;
}
